* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #8e44ad, #3498db);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
}
